body{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-family: Roboto;
  background-color: black;
}
body:before{
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px);
  -ms-filter:blur(5px);
  -o-filter:blur(5px);
  filter:blur(5px);
  background-image:url(../express_react_mongo.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  display:block;
  content:'';
  z-index:-2;
  position:absolute;
  left:0;
  width:100%;
  top:0;
  height:100%
}
.jumbotron{
  color: white;
  background-color: inherit;
  padding-bottom: 0px;
}
.panel{
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  position: absolute;
  width: 95%;
}
.stepOne{
  z-index: 100;
}
.stepTwo{
  top: 40px;
  z-index: 101;
}
.stepThree{
  top: 80px;
  z-index: 102;
}
.stepTwo .panel-body, .stepThree .panel-body{
  height: 160px;
}

/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}
.ReactModal__Overlay{
  z-index: 103;
}
.twitter-color{
  background-color: #0084b4;
  color: #ffffff;
}
.facebook-color{
  background-color: #3b5998;
  color: #fff;
}
.panel-heading, .panel a:hover, .panel button:hover{
  cursor:url(../santahand.png), default;
}
.jump span{
  color: yellow;
  cursor:url(../santahand.png), default;
  transition: transform 0.2s;
  display: inline-block;
}
.jump span:hover{
  transform: translateY(-20px) rotate(10deg) scale(2);
}
.panel-heading{
  font-size: 18px;
}
.panel-body{
  font-size: 21px;
}
.linkedStatus{
  padding-top: 10px;
}
.results{
  margin-top: 378px;
  position: absolute;
  color: #fff;
}
.results h2{
  border-bottom: 1px solid #fff;
}
